attrs==21.2.0
blessed==1.17.6
botocore==1.23.7
chalice==1.26.2
click==8.0.3
importlib-metadata==4.8.2
inquirer==2.7.0
jmespath==0.10.0
mypy-extensions==0.4.3
python-dateutil==2.8.2
python-editor==1.0.4
PyYAML==6.0
readchar==2.0.1
six==1.16.0
typing-extensions==4.0.0
urllib3==1.26.7
wcwidth==0.2.5
zipp==3.6.0
